/* html {
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
 
  background-color: #212121;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */


#subt {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  /* margin-left: 75px; */
}
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guess {
  margin-bottom: 12px;
  font-size: 26px;
}



#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #7a7a7a;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #474747;
  color: #fff;
  font-size: 25px;
}

h1 {
  background-color: #161616;

  color: #fff;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Main card */
#wrapper {
  background: #2b2b2b;
  width: 500px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

/* Heading */
h1 {
  margin-bottom: 15px;
  font-size: 32px;
}

/* Paragraph */
p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ddd;
}

/* Guess label */
#guess {
  font-size: 26px;
  display: block;
  margin: 25px 0 15px;
}

/* Input */
#guessField {
  width: 220px;
  height: 45px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin-bottom: 20px;
}

/* Submit button */
#subt {
  width: 220px;
  height: 45px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  background: #ff9800;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

#subt:hover {
  background: #ffa726;
}

/* Result section */
.resultParas {
  margin-top: 25px;
  font-size: 18px;
}

/* Previous guesses */
.guesses {
  background: #444;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Remaining guesses */
.lastResult {
  font-weight: bold;
  color: #ff9800;
}

/* Message */
.lowOrHi h2 {
  margin-top: 20px;
  color: #00e676;
}

/* Start new game */
#newGame {
  margin-top: 25px;
  cursor: pointer;
  color: #03a9f4;
}

#newGame:hover {
  text-decoration: underline;
}
